.h-entry{
    padding-left: 5vw;
    padding-right: 5vw;
}

img {
    margin-bottom: 1vh;
}

@media only screen and (max-width: 780px) {
    img {
        width: 100%;
    }
}

/* body .nav_menu {
    padding-left: 0;
} */