html, 
body {
    margin: 0;
    font-size: 12pt;
    line-height: 15pt;
    font-family: "JetBrains mono", monospace;
    font-style: normal;
    background-color: #010203;
    color: #f0ead6;
}

h1, 
h2, 
h3,
h4, 
h5,
h6 {
    text-align: center;
}

article {
    font-size: 12pt;
    line-height: 15pt;
}

.bordered_entry {
    font-family: "JetBrains mono", monospace;
    font-style: normal;
    font-size: 12pt;
    color: #f0ead6;
    background-color: #272625;
    border-style: solid;
    border-width: 2px;
    border-color: #79766D;
    border-radius: 1vh;
}

.seperated_entry{
    margin-top: 2vh;
    margin-left: 13vw;
    margin-right: 13vw;
}

.sub_entry h2,
.purple{
    color: #c191ff;
}

.sub_entry .p-name,
.green {
    color: #39cc8f;
}

.sub_entry h4,
.lightBlue {
    color: #66c3cc;
}

.darkBlue {
    color: #6c95eb;
}

.bordered_entry p{
    padding-left: 5vw;
    padding-right: 5vw;
}

.bordered_entry.sub_entry {
    margin-top: 0.5vh;
}

/* Targeting buttons whose class includes bordered entry */
button[class~="bordered_entry"] {
    cursor: pointer;
}

a:link, a:visited {
    color: #f0ead6;
    text-decoration-color: #c191ff;
}

a[href]:hover {
    color: #010203;
    background-color: #c191ff;
}