html,
body {
    margin: 0;
    font-size: 12pt;
    line-height: 15pt;
    font-family: "JetBrains mono", monospace;
    font-style: normal;
    background-color: #010203;
    color: #f0ead6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
}

h1 {
    margin-bottom: 10vh;
}

/*menu*/
.svg-bars {
    padding-bottom: 0.3rem;
    padding-inline: 0.2rem;
    width: 4.5rem;
    height: 4.5rem;
    font-size: 30pt;
    margin: 0.5vh 0 0 2.1vw;
    color: #f0ead6;
    background-color: #79766dc0;
    border-width: 2px;
    border-style: solid;
    border-color: #f0ead6;
    border-radius: 10px;
    cursor: pointer;
    position: fixed;
    z-index: 3;
    top: 21px;
    backdrop-filter: blur(5px);
}

.svg-bars:hover {
    background-color: #272625c0;
}

.nav_menu {
    top: 21px;
    padding-left: 0;
    line-height: 80px;
    margin-left: 8rem;
    margin-top: 0.4vh;
    position: fixed;
    z-index: 3;
    background-color: #272625c0;
    backdrop-filter: blur(5px);
    border-color: #79766D;
    border-width: 1px;
    border-style: solid;
    border-radius: 1rem;
    opacity: 0;
    visibility: hidden;
    transition-duration: 0.3s;
}

.wiggle_scale {
    animation-name: wiggle_scale;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}

@keyframes wiggle_scale {
    0% {
        scale: 1;
        transform: rotateZ(0deg);
    }
    16% {
        transform: rotateZ(15deg);
    }
    33% {
        transform: rotateZ(-15deg);
    }
    50% {
        scale: 1.1;
    }
    66% {
        transform: rotateZ(15deg);
    }
    84% {
        transform: rotateZ(-15deg);
    }
    100% {
        scale: 1;
        transform: rotateZ(0deg);
    }
}

.flashing {
    animation: opacity_flip 1s infinite steps(1);
}

@keyframes opacity_flip {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.nav_menu li:first-child {
    margin-left: 1rem;
}

.nav_menu li:last-child {
    margin-right: 1rem;
}

.nav_menu li {
    display: inline;
    padding-inline: 0.55rem;
    padding-block: 1.2rem;
    border-radius: 0.5rem;
    margin-inline: 0.2rem;
}

.nav_menu li.current_page_button {
    background-color: #010203;
    color: #66c3cc;
}

.nav_menu li a {
    text-decoration: none;
    font-size: 17pt;
    pointer-events: visible;
}

#navigation_checkbox {
    display: none;
}

#navigation_checkbox:checked~.nav_menu,
#navigation_checkbox:checked~.nav_menu a {
    /*color: blue;*/
    opacity: 1;
    visibility: visible;
}

/*Footer*/

footer hr {
    border-color: #79766D;
    border-style: solid;
    border-width: 2px;
}

#icon_holder {
    display: flex;
    justify-content: center;
    margin-bottom: 5vh;
}

#icon_holder svg {
    padding-right: 1vw;
}

.svg_github {
    width: 3vw;
    height: 3vw;
}

.svg_insta {
    width: 3vw;
    height: 3vw;
}

.svg_itch {
    width: 3vw;
    height: 3vw;
}

.svg_github:hover,
.svg_insta:hover,
.svg_itch:hover {
    cursor: pointer;
}

/*Blog Jumper*/

#blog_jumper {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #79766d;
    width: 10vw;
    z-index: 3;
    left: 2vw;
    border-style: solid;
    border-color: #f0ead6;
    border-width: 1px;
    border-radius: 10px;
}

#blog_jumper menu {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 0;
    padding-inline: 0;
    width: 100%;
    max-height: 20vh;
    overflow-y: auto;
    scrollbar-width: 10px;
    scrollbar-color: #f0ead6 #27262500;
}

#blog_jumper .top_bookmark {
    background-color: #79766D;
    border-style: solid;
    border-color: #f0ead6;
    border-width: 1px;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    align-content: center;
    height: 2rem;
}

#blog_jumper p {
    background-color: #79766D;
    margin: 0;
}

#blog_jumper li {
    display: block;
    margin-left: 0;
    padding-inline: 3.5rem;
    padding-block: 1vh;
    background-color: #79766D;
    border-style: solid;
    border-color: #f0ead6;
    border-width: 1px;
    border-radius: 5px;
}

#blog_jumper li:hover {
    background-color: #272625;
}

article {
    font-size: 12pt;
    line-height: 15pt;
}

#close_all_button {
    display: block;
    margin: auto;
}

.bordered_entry {
    font-family: "JetBrains mono", monospace;
    font-style: normal;
    font-size: 12pt;
    color: #f0ead6;
    background-color: #272625;
    border-style: solid;
    border-width: 2px;
    border-color: #79766D;
    border-radius: 1vh;
}

.seperated_entry {
    display: block;
    margin-top: 3vh;
    margin: 3vh auto 0;
}

.floated_text {
    float: left;
}

.entry_button .dropdown_arrow {
    float: right;
    position: absolute;
    right: 15vw;
    width: 1.5rem;
    height: 2.5rem;
}

.purple {
    color: #c191ff;
}

.sub_entry .p-name,
.sub_entry h2,
.green {
    color: #39cc8f;
}

.sub_entry h4,
.lightBlue {
    color: #66c3cc;
}

.darkBlue {
    color: #6c95eb;
}

.entry_button {
    width: 70.8vw;
}

#essay_buttons {
    min-height: 100vh;
    display: flex;
    width: 98vw;
    flex-direction: column;
    align-items: center;
}

.essay_entry {
    width: 18vw;
    margin-bottom: 0.4vh;
}

.bordered_entry p {
    padding-left: 5vw;
    padding-right: 5vw;
}

.bordered_entry.sub_entry {
    margin-top: 0.5vh;
    margin-inline: 14vw;
}

/* Targeting buttons whose class includes bordered entry */
button[class~="bordered_entry"] {
    cursor: pointer;
}

a:link,
a:visited {
    color: #f0ead6;
    text-decoration-color: #c191ff;
}

li:has(a[href]:hover),
a[href]:hover {
    color: #010203;
    background-color: #c191ff;
}