h1, 
h2,
h3 {
    text-align: center;
}

/* h3 {
    margin-bottom: 50rem;
} */

.intros {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 2.5rem;
}

.intros h1, 
.intros h2,
.intros h3,
.intros strong {
    font-weight: 300;
}

.container {
    /* height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #272625; */
    display: flex;
    align-items: center;
    justify-self: center;
}

.profile_holder {
    display: flex;
    background-color: #272625;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    bottom: -100vh;
    z-index: 2;
}

.pfp {
    width: 26vh;
}

.profile_info {
    display: flex;
    align-items: center;
}

.profile_info img {
    margin-right: 20px;
}

.text_info {
    display: flex;
    flex-direction: column;
}

.item {
    margin-bottom: 10px;
}

.profile_header {
    display: flex;
    color: #39cc8f;
    font-size: 365%;
    margin-top: 0%;
    margin-bottom: 12%;
}

/* Add this CSS to fade out the main content when scrolling down */
.fade-out {
    opacity: 0; /* Adjust opacity as needed */
    transition: opacity 0.3s ease; /* Add a smooth transition effect */
}

/* Add this CSS to move the article holder up and increase opacity for its subelements */
.scroll-effect {
    transform: translateY(-50px); /* Move the article holder up by 50px */
}

/* Add this CSS to increase opacity for the subelements of the article holder */
.profile_holder .profile_info,
.profile_holder .profile_header {
    opacity: 1; /* Increase opacity for the subelements */
    transition: opacity 0.3s ease; /* Add a smooth transition effect */
}

.dBlue{
    color: #6c95eb;
}

.lBlue{
    color: #66c3cc;
}